html {
    scroll-behavior: smooth;
    margin: 0;
    width: 100%;
    min-height: 100%;
    font-family: 'Segoe UI';
}

body {
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    font-size: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #212121;
}

.label{
    flex:1;
    vertical-align: middle;
    text-align: center;
  }

// .chart-bg-fs{
//     position: absolute;
//     top:0px;
//     right:0px;
//     bottom:0px;
//     left:0px;
//     z-index: 1;
//     padding: 10px 0;
//     height: 1080px;
//     width: 1920px;
//     background-color: #212121;
// }

.chart-bg{
    
    margin-top: 10px;
    margin-bottom:10px;
    min-height: 100%;
    background-color: #212121;
    flex: 1 0 auto;
}

.chartInstance {
    
    margin: 0;
    padding: 0;

}


// @media (min-width: 1920px){
//     .content-bg{
//         padding-bottom: vw(100px);
//     }
// }

// @media (max-width: 991.98px){
//     //
// }

// @media (max-width: 575.98px){
//     //
// }